@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Montserrat:500');

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
} /*10px*/

body {
	background-color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	line-height: 1.65;
	color: #333;
}

p {
	margin-bottom: 1.15rem;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 2.75rem 0 1.05rem;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	line-height: 1.15;
}

h1 {
	margin-top: 0;
	font-size: 3.052em;
}

h2 {
	font-size: 2.441em;
}

h3 {
	font-size: 1.953em;
}

h4 {
	font-size: 1.563em;
}

h5 {
	font-size: 1.25em;
}

small,
.text_small {
	font-size: 0.8em;
}

#root {
	padding: 0rem 7rem;
}
